<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6BkB1wU7YKNSLks6WwltJlNsNUhcCUAc</string>
	<key>GCM_SENDER_ID</key>
	<string>515209796030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.isspiBd3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ipssi112023</string>
	<key>STORAGE_BUCKET</key>
	<string>ipssi112023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515209796030:ios:2edd3236c94ae62aed81ef</string>
</dict>
</plist>